/*
	Theme Name: New Theme
	Description: Theme for Digital Check
	Version: 1.0
	Author: Tyler Jefford (Clique Studios)
	Author URI: http://cliquestudios.com
*/

.single-post {
	background-color: #f00;
}
.homepage {
	background-color: green;
	color: red;
}
